section.main-404-container {
    display: flex;
    padding: 0;
    height: 100vh;
    background: red;

    div {
        flex: 50%;
        overflow: hidden;

        a {
            color: #006633;
        }
    }

    div.left-column {
        padding: 10% 5%;
        display: grid;
        place-items: center;

        h1 {
            font-size: 4.5em;
            font-weight: 600;
            color: #006633;
        }

        p {
            margin: 5% 0;
            font-size: 1.3em;
            text-align: center;

            a {
                font-size: 100%;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    div.right-column {
        height: 100vh;
        background-color: #006633;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 800px) {
  section.main-404-container {
        display: block;
        height: unset;

        div {
          height: 100vh;
        }
    }
}
