section.efacility-login-container,
section.efacility-signup-container {
    width: 100%;
    height: 100vh;
    padding: 5em 0 0;
    transition: 2s;

    div.left-column,
    div.right-column {
        flex: 50%;
        height: 100%;
        transition: color 1s ease-in-out, background 1s ease-in-out;
    }

    div.left-column {
        display: grid;
        place-items: center;
        padding: 5%;
        background: $dark-green;

        h1 {
            font-size: 4em;
            font-weight: 600;
            color: white;
            transition: color 2s ease-in-out;
            letter-spacing: 0.13em;
        }
    }

    div.right-column {
        padding: 10%;
        border: 3px solid $dark-green;

        form {

            p#warning {
                margin: -5% -0 5%;
                color: red;
                font-weight: 500;
                text-transform: full-width;
            }

            label {
                font-size: 1.3em;
                cursor: pointer;
            }

            input {
                width: 100%;
                margin: 2.5% 0 10%;
                height: 3em;
                padding: 2.5%;
                border: 1px solid $dark-green;
                border-radius: 0px;
                color: $wine;
            }

            button {
                width: 10em;
                height: 3em;
                border: 0px;
                border-radius: 0px;
                color: white;
                background: $dark-green;
                cursor: pointer;
                transition: 0.4s ease-in-out;
            }

            button:hover {
                background: none;
                border: 1px solid $dark-green;
                color: $wine;
            }

            a {
                display: block;
                margin: 5% 0;
                font-size: 0.9em;
                color: $wine;
            }

            a:hover {
                text-decoration: underline;
            }

            a#temp-dash-link {
                display: inline-block;
                padding-left: 2.5%;
            }
        }
    }
}

// Signup page
section.efacility-signup-container {
    div.right-column {
        overflow-y: scroll;

        p {
            margin-top: 10%;
            a {
                display: inline;
            }
        }
    }
}

// Responsiveness
@media (max-width: 800px) {
    section.efacility-login-container,
    section.efacility-signup-container {
        height: 100%;

        div.left-column {
            background: none;
            height: 80vh;

            h1 {
                color: $dark-green;
            }
        }

        div.right-column {
            color: white;
            background-color: $dark-green;
            overflow: hidden;

            form {
                p#warning {
                    color: $bright-yellow;
                }

                input {
                    border: 1px solid black;
                }

                ::placeholder {
                    font-size: 0.85em;
                }

                button {
                    background: white;
                    color: $dark-green;
                }

                button:hover {
                    background: $wine;
                    color: white;
                }

                a {
                    color: white;
                    opacity: 0.8;
                }

                a:hover {
                    opacity: 1;
                }

                a#temp-dash-link {
                    display: block;
                    padding: 0;
                }

            }
        }
    }
}
