section.hero {
    padding-top: 10%;
    color: white;
    background-color: #006633;
    background-image: url(../../assets/img/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;

    h1 {
        margin-right: 40%;
        font-size: 3.8em;
        font-weight: 600;
    }

    p {
        margin: 2% 40% 2% 0;
        font-size: 1.2em;
    }

    a {
        display: inline-block;
        width: 15em;


        button {
            width: 100%;
            height: 3.5em;
            border: none;
            background: white;
            border-radius: 0px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        button:hover {
            color: white;
            background: $dark-green;
        }
    }

    a:last-of-type {
        margin-left: 2.5%;
    }
}

section.mission-vision {
    div {
        flex: 50%;

        h2 {
            font-size: 1.5em;
            font-weight: 400;
            color: $dark-green;
            border-bottom: 5px solid $wine;
            margin-right: 70%;
        }

        p {
            margin: 5% 0;
        }
    }

    div#left-column {
        padding-right: 5%;
        border-right: 1px solid black;
    }

    div#right-column {
        padding-left: 5%;
    }
}
