section.support-container {
    padding: 0;

    section.hero {
        padding: 12em 5%;
        background: $dark-green;
        text-align: center;

        h1 {
            color: white;
            font-size: 3em;
            font-weight: 600;
        }

        p {
            margin-top: 1.25%;
            color: white;
            font-size: 1.3em;
            font-weight: 400;
        }
    }

    section.filter-by-topic {
        text-align: center;

        div.container {
            padding: 5% 10% 0;

            a {
                flex: 25%;
                margin: 2.5%;

                div {
                    display: grid;
                    place-items: center;
                    height: 5em;
                    color: $dark-green;
                    background: transparent;
                    border: 1px solid $dark-green;
                    cursor: pointer;
                    transition: 0.4s ease-in-out;
                }

                div:hover {
                    color: white;
                    background: $dark-green;
                    border: 0;
                    border-radius: 10px;
                }
            }
        }
    }


    section.faqs {
        padding-left: 15%;
        padding-right: 15%;
        background: $desaturated-yellow;

        input {
            width: 100%;
            height: 4em;
            margin: 5% 0;
            padding: 0 2.5%;
            border: 1px solid black;
            border-radius: 50px;
            color: $wine;
            outline: 0;
        }

        p.edit-filter {
            display: none;
            margin: 1.25% 0;
            color: $very-dark-blue;
            font-size: 1.3em;
            font-weight: 400;
            cursor: pointer;

            a {
                all: inherit;
            }
        }

        p.edit-filter:last-of-type {
            margin-bottom: 5%;
        }

        p.edit-filter:hover {
            text-decoration: underline;
        }


        div {
            margin: 2.5% 0;
            font-size: 1.3em;

            details {
                summary {
                    margin-bottom: 1.25%;
                    outline: 0;
                    cursor: pointer;
                    font-size: 1.3em;
                }

                summary:hover {
                    text-decoration: underline;
                }

                p {
                    display: inline-block;
                    padding: 1.25% 2.5%;
                    margin-left: 5%;
                    border: 1px solid black;
                    border-radius: 10px;
                    color: white;
                    background: $dark-cyan;
                    line-height: 2em;

                    a {
                        color: $bright-yellow;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            // When the summary text is clicked (when details container opens), select the adjacent child p tag and add the animation to it
            details[open] summary ~ p {
              animation: pull-down .2s ease-in-out;
            }

            @keyframes pull-down {
              0%    {opacity: 0; transform: translateY(-20px)}
              100%  {opacity: 1; transform: translateY(0)}
            }
        }
    }



    section.raise-ticket {
        text-align: center;

        h1 {
            font-size: 2.2em;
        }

        h2 {
            all: unset;
            display: block;
            margin: 2.5% 0;
            font-size: 1.8em;
            color: $dark-green;
        }

        form {
            width: 40%;
            margin: 5% auto;

            input,
            select,
            textarea {
                display: block;
                width: 100%;
                height: 3.5em;
                margin: 5% 0;
                padding: 2.5%;
                border: 1px solid $dark-green;
                border-radius: 5px;
                color: $wine;
                outline-color: $dark-green;
            }

            input[name="name"] {
                text-transform: capitalize;
            }

            input[disabled] {
                background: #ccc;
            }

            select {
                cursor: pointer;
            }

            textarea {
                display: block;
                height: 10em;
                resize: none;
                overflow: scroll;
            }

            p {
                font-size: 0.9em;
            }

            button {
                width: 10em;
                height: 3.6em;
                margin: 5% 0;
                border: 1px solid $dark-green;
                color: $dark-green;
                background: transparent;
                cursor: pointer;
                transition: 0.4s ease-in-out;
            }

            button:hover {
                color: white;
                background: $dark-green;
                border: 0;
                border-radius: 5px;
            }
        }
    }


    section.office-locations {
        text-align: center;
        background: $light-grayish-blue;

        h3 {
            margin: 1.25% 0;
            font-size: 1.4em;
        }

        input {
            float: right;
            width: 30%;
            height: 3.5em;
            margin-top: 5%;
            padding: 0 2.5%;
            border: 1px solid $dark-green;
            border-radius: 50px;
            color: $wine;
            outline: 0;
        }

        div.container {
            margin: 15% -2.5% 0;
            text-align: left;

            div.location {
                flex: 20%;
                margin: 5% 2.5%;

                h4 {
                    margin-bottom: 1.25%;
                    font-size: 1.5em;
                    font-weight: 500;
                }

                h5 {
                    margin-bottom: 5%;
                    font-size: 1.2em;
                    font-weight: 400;
                    color: $very-dark-blue;
                }

                p {
                    margin-bottom: 5%;
                }

                a {
                    display: block;
                    font-size: 0.9em;
                    font-weight: 500;
                    color: $wine;
                }

                a:hover {
                    text-decoration: underline;
                }

                a#email {
                    margin-top: 5%;
                    color: $very-dark-blue;
                }

                a#google-maps {
                    margin-top: 5%;
                    color: $dark-green;
                }
            }
        }
    }
}


// Responsiveness
@media (max-width: 800px) {
    section.support-container {
        section.hero {
            padding: 10em 5% 5em;
            text-align: left;

            h1 {
                font-size: 2.5em;
            }

            p {
                margin: 5% 0;
            }
        }

        section.filter-by-topic {
            div.container {
                padding: 0;
                padding-top: 10%;

                a {

                    div {
                        height: 6em;
                        margin: 2.5% 0;
                    }
                }
            }
        }


        section.faqs {
            padding: 10% 5%;

            input {
                height: 3em;
                padding-left: 5%;
            }

            div {
                margin: 5% 0;

                details {
                    summary {
                        font-size: 1em;
                    }
                }
            }
        }

        section.raise-ticket {
            h1 {
                font-size: 1.8em;
            }

            h2 {
                font-size: 1.4em;
            }

            form {
                width: 100%;
                margin-top: 20%;
            }
        }


        section.office-locations {
            h3 {
                font-size: 1.2em;
            }

            input {
                float: none;
                width: 100%;
                padding-left: 5%;
            }

            div.container {
                div.location {
                    margin-bottom: 5em;
                }
            }
        }
    }
}
