html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

.flex {
  display: flex;
  flex-flow: wrap;
}

::selection {
  background: #ffcc00;
  color: #006633;
}

.show-on-mobile {
  display: none;
}

@media (max-width: 800px) {
  .flex {
    display: block;
  }

  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }
}
@media (min-width: 1441px) {
  * {
    font-size: 40px;
  }
}
section {
  padding: 5%;
  overflow: hidden;
}
section h2 {
  font-size: 1.8em;
  font-weight: 400;
  color: #006633;
  text-decoration: overline;
  text-decoration-color: #990033;
}

footer {
  padding: 5%;
  background: #99cc33;
}
footer div.top-container div.column {
  flex: 20%;
  padding: 0 1.25%;
}
footer div.top-container div.column a {
  display: block;
  padding: 5% 0;
  font-weight: 500;
  transition: 0.4s ease-in-out;
}
footer div.top-container div.column a:hover {
  color: #990033;
}
footer div.top-container div.column:nth-of-type(1) {
  margin-left: 0;
  padding-top: 5%;
}
footer div.top-container div.column:last-of-type h2 {
  font-weight: 700;
  padding: 5% 0;
}
footer div.top-container div.column:last-of-type form input {
  width: 100%;
  padding: 2.5%;
  border: 1px solid black;
  border-radius: 0;
}
footer div.bottom-container {
  margin-top: 5%;
  padding-top: 5%;
  border-top: 5px solid #990033;
}
footer div.bottom-container div.column {
  flex: 33.33%;
}
footer div.bottom-container div.column a {
  color: #990033;
  font-weight: 500;
}
footer div.bottom-container div.column:first-of-type a {
  display: inline-grid;
  place-items: center;
  width: 3em;
  height: 3em;
  margin-top: -5%;
  background: #990033;
  color: white;
  border-radius: 50px;
  text-align: center;
}
footer div.bottom-container div.column:first-of-type a i {
  font-size: 1.3em;
  transition: 0.4s ease-in-out;
}
footer div.bottom-container div.column:first-of-type a:hover i {
  color: #99cc33;
}

@media (max-width: 800px) {
  footer img {
    width: 6em;
  }
  footer div.bottom-container div.column {
    margin: 5% 0;
    text-align: center;
  }
  footer div.bottom-container div.column a {
    margin-top: 0 !important;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #006633;
  background: white;
  border-bottom: 3px solid #006633;
}
header nav {
  position: fixed;
  z-index: 10;
  right: 0;
  width: 0;
  height: 100vh;
  padding: 0;
  color: white;
  background: #006633;
  transition: 0.4s ease-in-out;
}
header nav div#main-links {
  padding: 5%;
  display: grid;
  place-items: center;
}
header nav div#main-links a {
  display: block;
  margin: 2.5vh 0;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}
header nav div#main-links a:hover {
  color: #ffcc00;
}
header nav.active {
  width: 100%;
}
header img {
  width: 50em;
  padding: 1% 5%;
}
header span#hamburger-menu-container {
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
  top: 4%;
  right: 2.5%;
  width: 5%;
  height: 3em;
  cursor: pointer;
}
header span#hamburger-menu-container span {
  display: block;
  background: #006633;
  border-radius: 50px;
  height: 3px;
  margin: 1% 0;
  transition: 0.4s ease-in-out;
}
header span#hamburger-menu-container span:nth-of-type(1) {
  width: 50%;
  margin-left: 8%;
}
header span#hamburger-menu-container span:nth-of-type(2) {
  width: 100%;
}
header span#hamburger-menu-container span:nth-of-type(3) {
  width: 50%;
  margin-left: 8%;
}
header span#hamburger-menu-container .active {
  background: #ffcc00;
}
header span#hamburger-menu-container span:nth-of-type(2).active {
  width: 50%;
  margin-left: -20%;
}

@media (max-width: 800px) {
  header img {
    width: 6em;
    padding: 5%;
  }
  header span#hamburger-menu-container {
    width: 10%;
  }
}
section.hero {
  padding-top: 10em;
  color: white;
  background-color: #006633;
  background-image: url(../../assets/img/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
section.hero h1 {
  margin-right: 40%;
  font-size: 3.8em;
  font-weight: 600;
}
section.hero p {
  margin: 2% 40% 2% 0;
  font-size: 1.2em;
}
section.hero a {
  display: inline-block;
  width: 15em;
}
section.hero a button {
  width: 100%;
  height: 3.5em;
  border: none;
  background: white;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section.hero a button:hover {
  color: white;
  background: #006633;
  border-bottom: 1px solid white;
}
section.hero a:last-of-type {
  margin-left: 2.5%;
}

section.mission-vision div {
  flex: 50%;
}
section.mission-vision div p {
  margin: 5% 0;
}
section.mission-vision div#left-column {
  padding-right: 5%;
  border-right: 1px solid black;
}
section.mission-vision div#right-column {
  padding-left: 5%;
}

section.core-values {
  padding: 5% calc(5% - 1.25%) 0;
}
section.core-values h2 {
  width: 25%;
  margin: 0 calc((100% - 25%) / 2);
  text-align: center;
}
section.core-values div.container {
  margin: 5% 0;
  text-align: center;
}
section.core-values div.container div.card {
  display: grid;
  place-items: center;
  flex: 20%;
  height: 10em;
  margin: 1.25%;
  padding: 0 2.5%;
  border: 2px solid black;
  border-radius: 10px;
  color: #006633;
  font-weight: 400;
  transition: 0.4s ease-in-out;
}

section.news {
  background: #cccc99;
}
section.news div.flex {
  margin: 5% -1.25% 0;
}
section.news div.flex div.card {
  flex: 25%;
  padding: 2.5%;
  margin: 0 1.25%;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
section.news div.flex div.card span#close-btn {
  display: none;
}
section.news div.flex div.card h3 {
  color: #006633;
  font-size: 1.3em;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.news div.flex div.card p {
  display: -webkit-box;
  margin: 5% 0;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.news div.flex div.card span#read-more-btn {
  color: #990033;
  font-size: 0.8em;
  cursor: pointer;
}
section.news div.flex div.card span#read-more-btn:hover {
  text-decoration: underline;
}
section.news div.flex div.card h4 {
  margin-top: 5%;
  font-size: 0.8em;
  color: #669933;
}
section.news div.flex div.card h4 span {
  font-size: inherit;
  font-weight: 500;
}
section.news div.flex div.opened-news-card {
  position: absolute;
  width: 95%;
  height: 80%;
  margin-left: -1.25%;
  z-index: 1000;
  border-radius: 5px;
  overflow-y: scroll;
}
section.news div.flex div.opened-news-card span#close-btn {
  display: block;
  font-size: 2em;
  float: right;
  color: #006633;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section.news div.flex div.opened-news-card span#close-btn:hover {
  font-size: 3em;
}
section.news div.flex div.opened-news-card h3 {
  margin-top: 10%;
  font-size: 2em;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
  text-overflow: unset;
}
section.news div.flex div.opened-news-card p {
  font-size: 1.4em;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
  text-overflow: unset;
}
section.news div.flex div.opened-news-card span#read-more-btn {
  display: none;
}
section.news div.flex div.opened-news-card h4 {
  font-size: 1.3em;
}
section.news p#view-all {
  margin-top: 5%;
  font-size: 1.2em;
  text-align: right;
}
section.news a {
  color: #006633;
  transition: 0.4s ease-in-out;
}
section.news a:hover {
  color: #990033;
}

section.explore div.flex {
  margin: 5% -2.5%;
}
section.explore div.flex div.card-container {
  flex: 20%;
  margin: 0 2.5%;
  height: 10em;
}
section.explore div.flex div.card-container div.inner-container {
  background: pink;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-front,
section.explore div.flex div.card-container div.inner-container div.flip-card-back {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-front {
  background: #990033;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-front h3 {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-back {
  transform: rotateY(-180deg);
  color: white;
  background: #006633;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-back a {
  display: block;
  font-size: 0.8em;
  transition: 0.4s ease-in-out;
  opacity: 0.8;
}
section.explore div.flex div.card-container div.inner-container div.flip-card-back a:hover {
  color: #ffcc00;
  opacity: 1;
}
section.explore div.flex div.card-container:hover div.inner-container {
  transform: rotateY(-180deg);
}

@media (max-width: 800px) {
  section.hero h1 {
    margin-right: 0;
    font-size: 2.4em;
  }
  section.hero p {
    margin-right: 0;
    margin-bottom: 10%;
  }
  section.hero a {
    width: 100%;
  }
  section.hero a:last-of-type {
    margin: 5% 0 5% 0;
  }

  section.mission-vision div.column h2 {
    margin: 0;
    text-align: center;
  }
  section.mission-vision div#left-column {
    padding-left: 5%;
  }
  section.mission-vision div#right-column {
    margin-top: 10%;
    border-left: 1px solid black;
    padding-left: 0;
  }
  section.mission-vision div#right-column p {
    padding-left: 5%;
  }

  section.core-values h2 {
    width: 100%;
    margin: 0;
  }
  section.core-values div.container {
    margin-top: 10%;
  }
  section.core-values div.container div.card {
    margin: 5% 0;
  }

  section.news h2 {
    margin: 0;
    text-align: left;
  }
  section.news div.flex div.card {
    margin: 5% 0;
    padding: 5%;
  }

  section.explore div.flex div.card-container {
    margin-top: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
