::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: $dark-green;
	border-radius: 5px;
}

section {
    padding: 5%;
    padding-top: 10em;
    overflow: hidden;

    h2 {
        font-size: 1.8em;
        font-weight: 400;
        color: $dark-green;
        text-decoration: overline;
        text-decoration-color: $wine;
    }
}
