section {
    padding: 5%;
    overflow: hidden;

    h2 {
        font-size: 1.8em;
        font-weight: 400;
        color: $dark-green;
        text-decoration: overline;
        text-decoration-color: $wine;
    }
}
