html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: {
		size: 18px;
		family: "Poppins", sans-serif;
		weight: 300;
	}
	line-height: 1.5em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	object-fit: cover;
}

.flex {
	display: flex;
	flex-flow: wrap;
}

::selection {
	background: $bright-yellow;
	color: $dark-green;
}

.show-on-mobile {
	display: none;
}

// Responsiveness
@media (max-width: 800px) {
	.flex {
		display: block;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}
}


// Very Large Screens
@media (min-width: 1441px) {
	* {
		font-size: 40px;
	}
}
