footer {
    padding: 5%;
    background: $dark-cyan;

    div.top-container {
        div.column {
            flex: 20%;
            padding: 0 1.25%;

            a {
                display: block;
                padding: 5% 0;
                font-weight: 500;
                transition: 0.4s ease-in-out;
            }

            a:hover {
                color: $bright-yellow;
            }
        }

        div.column:nth-of-type(1) {
            margin-left: 0;

            h3 {
                font-weight: 600;
                margin-top: 5%;
            }

            a {
                color: white;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        div.column:last-of-type {
            h2 {
                font-weight: 700;
                padding: 5% 0;
            }

            form {
                input {
                    width: 100%;
                    padding: 2.5%;
                    border: 1px solid black;
                    border-radius: 0;
                }
            }
        }
    }

    div.bottom-container {
        margin-top: 5%;
        padding-top: 5%;
        border-top: 5px solid $wine;

        div.column {
            flex: 33.33%;
        }

        div.column:first-of-type {
            a {
                display: inline-grid;
                place-items: center;
                width: 3em;
                height: 3em;
                margin-top: -5%;
                background: $wine;
                color: white;
                border-radius: 50px;
                text-align: center;

                i {
                    font-size: 1.3em;
                    transition: 0.4s ease-in-out;
                }
            }

            a:hover {
                i {
                    color: $bright-yellow;
                }
            }
        }

        div:nth-of-type(2) {
            text-align: center;
        }

        div:last-of-type {
            text-align: right;

            p {
                a {
                    color: white;
                    font-weight: 500;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


@media (max-width: 800px) {
    footer {
        div.top-container {
            div:first-of-type {
                margin-bottom: 5%;
                padding: 0;
            }
        }
        div.bottom-container {
            div.column {
                margin: 5% 0;
                text-align: center;

                a {
                    margin-top: 0 !important;
                }
            }
        }
    }
}
